button {
  width: 150px;
  height: 30px;
  cursor: pointer;
  margin-right: 20px;
  font-size: 18px;
  color: #032541;
  background-color: white;
  border: solid 2px #032541;

  &:hover {
    color: white;
    background-color: #032541;
  }

  &.active {
    color: white;
    background-color: #032541;
  }
}
