.series-container {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.192);
  padding: 30px 0;
  display: flex;
  justify-content: center;

  .content {
    width: 83%;
    max-width: 1380px;
  }
}

.title-filter {
  display: flex;
  align-items: center;

  h2 {
    margin-right: 20px;
    font-size: 36px;
    font-weight: 500;
  }
}

.grid-series {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
