.search-container {
  background: url("./../../assets/thor.jpg");
  height: 300px;
  background-size: cover;
  background-position-y: -160px;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    background-color: #e7e7e7;
    width: 65%;
    height: 60px;
    border: none;
    padding: 20px;
    font-size: 15px;
    border-radius: 5px 0 0 5px;
  }

  button {
    background-color: #e7e7e7;
    height: 60px;
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0 5px 5px 0;
  }
}
