.nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  background-color: #032541;
  align-items: center;
  padding: 0 40px;

  i {
    cursor: pointer;
    font-size: 30px;
    color: white;
  }

  ul {
    display: flex;
    width: 300px;
    justify-content: space-between;
    list-style: none;
  }

  a {
    color: white;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
