@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.wrapper-pop {
  display: flex;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.192);
  padding-top: 30px;
  margin-bottom: 30px;
}

.container {
  width: 83%;
  max-width: 1380px;
}
