.banner {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;

  .content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 30px;
    padding: 40px 10%;
    background-color: rgba(0, 0, 0, 0.48);

    img {
      width: 100%;
    }

    .right {
      h1,
      h2,
      p,
      span {
        color: white;
      }

      .top {
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        h1 {
          font-size: 1.5em;
        }
      }

      .synopsis {
        h2 {
          margin-bottom: 20px;
        }
      }
    }
  }
}
